.container {
  height: 100vh;
  width: 100vw;
}

.container button {
  height: 500px;
  width: 500px;
}

.card .colorbox.purple {
  background-color: purple;
}
.card .colorbox.orange {
  background-color: orange;
}
